<header class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="{% url 'home' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
        <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Heavyfeet</a></span>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="#" class="nav-link px-2">Features</a></li>
      <li><a href="#" class="nav-link px-2">Pricing</a></li>
      <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      {% if request.user.is_authenticated %}
      

      <div class="dropdown">
        <button class="btn btn-outline-primary me-2 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{request.user.username}}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      </div>
      
      {% else %}
        <a href="{% url 'account_login' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
          <button type="button" class="btn btn-outline-primary me-2">Login</button>
        </a>
        <a href="{% url 'account_signup' %}" class="d-inline-flex link-body-emphasis text-decoration-none">
        <button type="button" class="btn btn-primary">Sign-up</button>
        </a>
      {% endif %}
      
    </div>
</header>